<% layout("/layouts/boilerplate") %> <a href="/orderhistory">See past orders</a
><br />
email :
<p><%= userCart.email %></p>
items : <% for (let cartItem of foodCart) { %>
<li>
  <%= cartItem.food.title %> – Quantity: <%= cartItem.quantity %> Rs. <%=
  cartItem.food.price %>
  <form action="/cart/<%= cartItem._id %>?_method=DELETE" method="post">
    <button type="submit">Remove</button>
  </form>
</li>
<% } %> Grand Total : <%= totalAmount %> <br />
<a href="/">Add more</a><br />
<br />

<a href="/checkout" class="btn btn-primary">Pay</a>
