<% layout("/layouts/adminPanel") %>
<style>
  .edit-page {
    height: 100%;
    background-image: url("/Dhaba white bg.png");
  }

  .edit-page input,
  textarea {
    box-shadow: 1px 1px 2px grey;
  }

  .edit-page h4 {
    color: #69585a;
  }
</style>

<div class="row p-3 mx-5 edit-page">
  <h4 class="mb-3 mt-3">Edit food details</h4>
  <form
    action="/admin/edit/<%=food._id%>?_method=PATCH"
    method="post"
    class="needs-validation"
    novalidate
  >
    <div class="mb-3 col-6">
      <label for="title" class="form-label">Food Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        value="<%=food.title%>"
        required
      />
      <div class="invalid-feedback">Please enter a food title</div>
    </div>
    <div class="mb-3 col-6">
      <label for="description" class="form-label">Food Description</label>
      <textarea
        type="text"
        class="form-control"
        id="description"
        name="description"
        rows="4"
        required
      >
    <%=food.description  %>
    </textarea
      >
    </div>
    <div class="mb-3 col-6">
      <label for="image[url]" class="form-label">Image url</label>
      <input
        type="text"
        class="form-control"
        id="image[url]"
        name="image[url]"
        value="<%=food.image.url  %>"
        required
      />
      <div class="invalid-feedback">Please enter a valid image url.</div>
    </div>
    <div class="mb-3 col-6">
      <label for="price" class="form-label">Food Price</label>
      <input
        type="number"
        class="form-control"
        id="price"
        name="price"
        value="<%=food.price %>"
        required
      />
      <div class="invalid-feedback">Please enter a valid price.</div>
    </div>
    <div class="mb-3 col-6">
      <label for="category" class="form-label">Food Category</label>
      <input
        type="text"
        class="form-control"
        id="category"
        name="category"
        value="<%=food.category %>"
        required
      />
      <div class="invalid-feedback">Please enter a valid category.</div>
    </div>
    <button class="btn btn-danger">Edit</button>
  </form>
</div>
