<% layout("/layouts/boilerplate") %>
<style>
    .menu-page{
      margin: 3rem 3rem !important;
    }
    .menu-page h3{
       color: #69585a; 
    }
    @media (max-width: 850px) {
      .menu-page{
        margin: 3rem 0rem !important;
      }
    
    }
</style>

<div class="menu-page row mt-5" id="menu-index">
  <h3 class="text-center"><i>Order something delicious</i></h3>
  <p class="text-center text-muted">
    From spicy curries to sweet desserts — everything at <strong>Baua Da Dhabaa</strong> is cooked with love.
  </p>
  <% for(let foodItem of foodList){ %>
  <div class="card m-1 m-lg-3 m-md-3 mb-3 mb-lg-3 p-2 col-5 col-lg-2 col-md-3">
    <img src="<%= foodItem.image.url %>" class="card-img-top"  style="height: 10rem ;" />
    <div class="card-body py-1">
      <h5 class="card-title"><%= foodItem.title %></h5>
      <p class="card-text">
        
        <!-- <%= foodItem.description %> -->
        <p>&#8377;<%= foodItem.price %></p>
        </p>
    </div>
    
       <button  onclick="addToCart('<%= foodItem._id %>')"  class="btn btn-danger mx-3">Add <i class="fa-solid fa-cart-shopping"></i></button>
       </div>
  <% } %>
  <a id="cart-message"  href="/cart" class="btn btn-success p-2 px-3">
   </a>
</div>


