<% layout("/layouts/boilerplate") %>
<style>
    .menu-page h3{
       /* margin-right: 5rem !important; */
       /* padding-left: 10rem !important; */
       color: #69585a; 
    }
</style>

<div class="menu-page row mt-5" id="menu-index">
  <h3 class="text-center"><i>Order something delicious</i></h3>
  <p class="text-center text-muted">
    From spicy curries to sweet desserts — everything at <strong>Baua Da Dhabaa</strong> is cooked with love.
  </p>
  <% for(let foodItem of foodList){ %>
  <div class="card m-3 mb-5 p-2" style="width: 20rem">
    <img src="<%= foodItem.image.url %>" class="card-img-top"  style="height: 15rem ;" />
    <div class="card-body py-1">
      <h5 class="card-title"><%= foodItem.title %></h5>
      <p class="card-text">
        <%= foodItem.description %>
        <p>&#8377;<%= foodItem.price %></p>
        <!-- <form action="/cart/add/<%= foodItem._id %>" method="post">
          <button class="btn btn-danger">Add</button>
        </form> -->
        </p>
    </div>
    
       <button  onclick="addToCart('<%= foodItem._id %>')"  class="btn btn-danger mx-3">Add <i class="fa-solid fa-cart-shopping"></i></button>
       </div>
  <% } %>
</div>



<script>
async function addToCart(id) {
  const res = await fetch(`/cart/add/${id}`, {
    method: "POST",
  });
  const data = await res.json();
  if (data.success) {
    alert("Item added to cart!");
    // optionally update cart count on page here
  }
}
</script>