<% layout("/layouts/adminPanel") %>
<style>
  .orderStatus-page{
    background-image: url("/Dhaba white bg.png");
    height: 100%;
    
  }
  .orderStatus-page .card{
    
    border: none;
    /* background-color: #f9f7f8; */
    box-shadow: 1px 1px 3px grey;
  }
</style>

<div class="orderStatus-page p-5">
<div class="card p-2" style="max-width: 900px">
  <div class="row g-0 d-flex align-items-center">
    <div>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <!-- <p class="card-text"></p>
          <p class="card-text"></p>
          <p class="card-text">
            <small class="text-muted"></small>
          </p> -->
        <small class="text-muted">Items list: </small>
          <ol>
            <% for(item of order.items) {%>
            <li>
              <p class="card-text"><%=item.title %></p>
            </li>
            <% } %>
          </ol>
        <p class="card-text ">
            Total Amount : Rs. <%=order.totalAmount %>
          </p>
        
        <p class="card-text">
          <small class="text-muted"> Status - <%=order.status %></small><br />
          <small class="text-muted"
            >Order time - <%= order.orderDate.toString().slice(16,25) %>
          </small>
        </p>
        <br /><br />
        <form
          action="/admin/order/edit/<%=order._id%>?_method=PATCH"
          method="post" class="needs-validation" novalidate
        >
         <div>
           <label for="status" class="form-label">Change Status</label>
          <select name="status" id="status"  class="form-select" aria-label="Default select example" required>
            <option value="Pending"  <%= order.status === "Pending"  ? "selected" : "" %>>Pending</option>
            <option value="Preparing" <%= order.status === "Preparing"  ? "selected" : "" %>>Preparing</option>
            <option value="Delivered" <%= order.status === "Delivered"  ? "selected" : "" %>>Delivered</option>
          </select>
          <div class="invalid-feedback">
            Please select a valid status.
          </div>
          </div>
          <button class="btn btn-danger mt-3">Done</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>